.App {
  text-align: center;
}

.board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto;
  border: 4px solid blueviolet;
  margin: 0 auto;
}

.square {
  height: 100px;
  width: 100px;
  cursor: pointer;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  border: 2px solid blueviolet;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}


